/*>>>>> Text spacing animation >>>>>>*/
#text{
	font-weight: 200;
	opacity: 1;
	animation: animate 5s ease-out forwards infinite;
	animation-delay: 1s;
}

@keyframes animate {
	
	0%{
	letter-spacing: 5px;
	}
	
	20%{
	letter-spacing: 1px;
	}
	
	100%{
	letter-spacing: 5px;
	}	
}

/*>>>>> Text spacing animation >>>>>>*/