/* CARDS */
.cardsx {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	text-align: center;
}

.cardx {
	background: rgb(255, 221, 131);
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
}

/* for 2nd banner */
.cardx2 {
	width: 20%;
	margin: 10px;
	padding: 10px;
	height: auto;
	min-height: 100px;
	display: grid;
	grid-template-rows: 20px 50px 1fr 50px;
	border-radius: 10px;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
	transition: all 0.2s;
}

.cardx:hover {
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
	transform: scale(1.01);
}
/* CARD BACKGROUNDS */
.card-1x {
	background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2x {
	background: #C3F8FF;
	border: dashed;
	border-color: rgb(255, 233, 150);
}

.card-3x {
	background: radial-gradient(#76b2fe, #b69efe);
}

.card-4x {
	text-align: center;
	background:  rgb(255, 233, 150);
}

.card-5x {
	background: radial-gradient(#f588d8, #c0a3e5);
}

/*start  services css styling // use  */


.gapcol {
    padding-left:15px;
    text-align: center !important; 
}

.servicessdiv {
	position: inherit;
	display:block;
	margin-top: 5px;	
   
}

.servicescover {
	width: 100%;
	height: auto;
	text-align: center !important;
    
	
}

.service {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	font-weight: bold;
	padding-top: 25px;
	padding-bottom: 5px;
	color: #119ee7;
	width: 100%;	
	margin-bottom: 30px;
	align-content: center;
	text-align: center;
	
}

.service::before {
	z-index: 0;
	content: " ";
	width: 100px;
	height: 2px;
	margin-top: 5px;
	background: rgb(255,235,182);
	display: flex;
	align-items: center;
	justify-content: center;
	
	margin-right: 10px;
}



.service::after {
	z-index: 0;
	content: " ";
	width: 100px;
	height: 2px;
	margin-top: 5px;
	background: rgb(255,235,182);
	display: flex;
	align-items: center;
	justify-content: center;	
	margin-left: 10px;
}


.serviceitem {
	padding: 15px;
	float: left;
	background-color: #ffffff;
	border-radius: 10%;
	/* border: 1px solid rgb(255,235,182); */
	margin-bottom: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
    margin: 10px;
}





.serviceitem img {
	height: 100px;
	object-fit: scale-down;
}

.serviceitem p {
	text-align: center;
	font-size: 17px;
	margin-bottom: 5px;
	line-height: 25px;
	height: 128px;
	overflow: hidden;
}

.serviceitem  h3 {
	font-size: 19px;
	margin-bottom: 21px;
	margin-top: 0px;
}



.serviceitem .viewmore a {
	width: 150px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 0px;
	border: 1px solid #119ee7;
	border-radius: 5px;
	color: #333;
	padding: 10px 15px;
	font-size: 17px;
	color: #fff;
	background-color: #119ee7;
}

.serviceitem .viewmore a:hover {
	color: #119ee7;
	background-color: #fff;
}

.col-md-offset-2{margin-left:16.66666667%}


    
    /*end  services css styling // use  */
    
   
   
   
   
   
   
    
    
    /* Start Flex servicing */
    
    .call-outs-container { 
  max-width: 1400px;
  margin: 20px 20px 0 20px;
}

.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 23%;
}

section .row .col  img {
	height: 90%;
	width: 90%;
	object-fit: scale-down;
	margin-left: 150px;

}

section .row .col  p {
	
	margin-left: 30px;
	font-size: 120%;

}

/* start pixel break point for 1024*/
@media (min-width: 1200px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  .call-out-100{
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: left;
  }
  
  .call-out-50 {
	
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 48%;
  text-align: left;
  
}
  
  .call-out-33{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
  text-align: center;
  }
  
  .call-out-25{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 25%;
  text-align: left;
  }  
 
}
/* end pixel break point for 1024*/


/* start pixel break point for 768 to 1024*/
@media (min-width: 650px) and (max-width: 1200px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
   .call-out-100{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: left;
  }
  
   .call-out-50{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 50%;
  text-align: left;
  }
  
  .call-out-33{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
  text-align: left;
  }
  
  .call-out-25{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 25%;
  text-align: left;
  }
  
 
  
  .call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}

}
/* end pixel break point for 768 to 1024*/

/* start pixel break point for 425 to 768*/
@media (min-width: 425px) and (max-width: 650px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
   .call-out-100{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: left;
  }
  
   .call-out-50{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 50%;
  text-align: left;
  }
  
  .call-out-33{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
  text-align: left;
  }
  
  .call-out-25{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 25%;
  text-align: left;
  }
  
  .call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 46%;
}

section .row .col  img {
	height: 90%;
	width: 90%;
	object-fit: scale-down;
	margin-left: 10px;

}

}
/* end pixel break point for 425 to 768*/

/* start pixel break point for =<425 */
@media (max-width: 425px) {
  .call-outs-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
  }
  
  .call-mob-100{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 100%;
  text-align: left;
  }
  
   .call-mob-50{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 50%;
  text-align: left;
  }
  
  .call-mob-33{
   box-sizing: border-box;
  flex-basis: 50%;
  text-align: left;
 
  
  }
  
  .call-mob-25{
   box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 25%;
  text-align: left;
  }
  
  .call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 98%;
}

section .row .col  img {
	height: 90%;
	width: 90%;
	object-fit: scale-down;
	margin-left: 10px;

}


.footermenu .call-out{
	flex-basis: 50%;
	padding: 0;
	margin: 0;
	text-align: left;
	
}
}
/* end pixel break point for =<425 */





/* 
.call-out:nth-child(1) {background-color: #c0dbe2;}
.call-out:nth-child(2) {background-color: #cdf1c3;}
.call-out:nth-child(3) {background-color: #ccb9da;}
.call-out:nth-child(4) {background-color: #c0dbe2;}
.call-out:nth-child(5) {background-color: #cdf1c3;}
.call-out:nth-child(6) {background-color: #ccb9da;}
.call-out:nth-child(7) {background-color: #c0dbe2;}
.call-out:nth-child(8) {background-color: #cdf1c3;} */

    /* End Flex servicing */
    
    
  