
.priceitem{
	float: left;
	display: block;
	background-color: #ffffff;
	border-radius: 12% 12% 0% 0%;
	/* border: 1px solid rgb(255,235,182); */
	line-height: 3;
	margin-bottom: 20px;
	margin-top: 20px;
	box-sizing: border-box;
	padding: 0px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
	margin-right: 5px;
	font-size: 100%;
}




.container  .priceitem h3{
	display: block;
	width: 100%;
	height: 50px;
	background: #7171ff;
	margin: 0px;
	padding: 0;
	color: white;	
	border-radius: 40px 40px 0px 0px;	
	line-height: 3;
	
} 

.priceitem li{
	text-align: left;
}

.h3price{
	display: block;
	width: 100%;
	height: 40px;
	background: #7171ff;
	margin: 0;
	color: white;	
	border-radius: 0px;	
	line-height: 2.5;
}

 
.pricebtn{
	width: 100%;
	border: 2px;
	border-color: white;
	margin-top: 1px;
}

.knowmore {
	display: block;
	width: 100px;
	height: 15px;
	line-height: 17px;
	text-align: center;
	margin: 0px auto;
	border: 1px solid #119ee7; 
	border-radius: 5px;
	color: white; 
	padding: 6px 6px;
	font-size: 100%;
	background: white;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	
}

.knowmore:hover{	
	background: #7171ff;
	font-weight: bold;
	
}

.priceitem .pull-left .fa-check {
  color: #33B04A;
}

.priceitem .pull-left .fa-x {
  color: red;
}
