/*  >>>>> Custom Fonts >>>>> */
@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans.eot');
	src: url('fonts/PT-Sans.eot?#iefix') format('embedded-opentype'),
		url('fonts/PT-Sans.woff') format('woff'), url('fonts/PT-Sans.ttf')
		format('truetype'), url('fonts/PT-Sans.svg#pt_sansregular')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Bold.eot');
	src: url('fonts/PPT-Sans-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/PT-Sans-Bold.woff') format('woff'),
		url('fonts/PT-Sans-Bold.ttf') format('truetype'),
		url('fonts/PT-Sans-Bold.svg#pt_sansbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-Italic.eot');
	src: url('fonts/PPT-Sans-Italic.eot?#iefix') format('embedded-opentype'),
		url('fonts/PT-Sans-Italic.woff') format('woff'),
		url('fonts/PT-Sans-Italic.ttf') format('truetype'),
		url('fonts/PT-Sans-Italic.svg#pt_sansitalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT-Sans-BoldItalic.eot');
	src: url('fonts/PPT-Sans-BoldItalic.eot?#iefix')
		format('embedded-opentype'), url('fonts/PT-Sans-BoldItalic.woff')
		format('woff'), url('fonts/PT-Sans-BoldItalic.ttf') format('truetype'),
		url('fonts/PT-Sans-BoldItalic.svg#pt_sansbold_italic') format('svg');
	font-weight: bold;
	font-style: italic;
}

/*  <<<<< Custom Fonts <<<<< */
html {
	line-height: 1.7;
	background: rgb(248, 249, 251);
	margin: 0;
	padding: 0;
	
}

body {
	font-family: 'PTSans', Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}


header {
	width: 100%;
}

.top_nav_container.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    z-index: 337;
    box-shadow: 2.5px 4.33px 15px 0 rgba(0, 0, 0, .15)
    }

.section {
	padding-left: 40px;
	padding-right: 40px;
}

.padding20 {
	padding: 20px;
	
	
	
}

 .container {	
	width: 100%;
	overflow: hidden;
	text-align: center;	
	margin: 0;
	padding: 0;
	
} 



.content-area {	
	margin-top: 85px;
}

 ul {  
	list-style-type: none;
}

/* Start top container design*/

.top-con {
	width: 100%;
	background: #38454f;
	color: #ffffff;
	height: 25px;
	text-align: right;
}
.top-con a, .top-con span {
	color: #ffffff;
	line-height: 24px;
	font-size: 14px;
	/*font-weight: 700;*/
	font-weight: normal;
	font-family: 'Roboto', sans-serif;	
	padding-right: 20px;
}
.top-con a .label {
	line-height: normal;
	font-size: inherit;
}

.top-con a:hover {
	color: #80ffff;
}
/*End top container design*/

.logo {
	max-width: 25%;
	height: auto;
	float: left;
	margin-top: 5px;
	margin-left: 10px;
}

@media screen and (max-width: 350px){
	
	.logo{
	max-width: 100%;
	background: #74baba;
	margin-bottom: 0px;
	margin-left: 0px;
	}
	
}

.hide-larg {
		display: none;
	}
	


@media screen and (max-width: 415px){
	
	header{
	padding-top: 0px;
	}
	.hide-larg {
		display: unset;
	}
	
}

header h1 {
	margin: 0;
	font-weight: normal;
	font-size: 165%;
}

header p {
	font-size: 90%;
	margin: 0;
}

/* Site Navigation */
.site-nav {
	margin-top: 0px;
}

@media screen and (max-width: 415px){
	
	.site-nav{
	width: 100%;
	display: block;
	position: fixed;
	bottom: 1px;
	background: #00b7b7;
	padding: 3px;
	}
	
}

.site-nav ul {
	margin: 0;
	padding: 0;
}

.site-nav li {
	list-style: none;
	float: left;
	margin-right: 20px;
	
}

.site-nav a {
	display: block;
	color: #000000;
	padding: 15px 10px;
	font-size: 100%;
	border-width: 0 .25px 0 0;
	border-image: linear-gradient(70deg, black 60%, white 100%);
	border-image-slice: 2;
	border-style: solid;
}

@media screen and (max-width: 415px){
	
	.site-nav a{
	background:  #FFDA7A;	
	text-align: center;
	margin: 2px;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	text-decoration: none;
	border-image: none;
	box-shadow: 4px 4px 17px rgba(0.55, 0, 0, 0.55);
	border-radius: 15px;
	}
	
	.hide-small {
		display: none;
	}
	
}

.site-nav a:hover {
	color: #004080;
	font-weight: bold;
}

@media screen and (max-width: 415px){
	
	.site-nav li{
	width: 33.332%;
	margin-right: 0px;
	}
	
}

.textformobtop{
	
	text-decoration: underline;
	color: #7a7a7a;

	}

.sidebar {
	color: #999;
	font-size: 100%;
	margin-top: 10px;
	text-align: justify;
}

.sidebar h3 {
	text-align:center;
	font-size: 150%;
	margin-bottom: 7px;
}


.footer-container{
	width: 100%;
padding: 10px;
  box-sizing: border-box;
}

footer {
	width: 100%;
	text-align: center;
	color: #ffffff;
	/* padding-top: 20px; */
	background: #272727;	
	font-weight: lighter;
	font-size: 80%;
}



/* >>>>> caret design >>>>> */
.caret {
	width: 0;
	height: 0;
	display: inline-block;
	border: 6px solid transparent;
}

.caret.down {
	border-top-color: black;
	text-align: center;
}

@media screen and (max-width: 415px){
	
	footer {
	padding-bottom: 40px;
	
  margin-bottom: 25px;
}
	
	.caret,
	.down{
	border: 0px solid transparent;
	}
	
}

.caret.right {
	border-left-color: black;
}

.caret.up {
	border-bottom-color: black;
}

.caret.left {
	border-right-color: black;
}

/* <<<<< caret design <<<<< */

/* >>>>> Main body area >>>>> */
.banner1 {
	display:block;
	/*background-image: linear-gradient(to bottom right, #2BC0E4,#EAECC6);*/
	background: white;
	margin-top: 110px;
	
	margin-left: 20px;
	
	
	
}

.banner1 h2 {
	display: block;
	font-size: 30px;
	line-height: .5;
	text-align: center;
	padding: 20px;	
	text-shadow: 5px 2px 5px grey;
	
}

.banner1 p {
	padding: 0px;
	margin: 0px;
	text-shadow: 5px 2px 5px grey;
	font-size: 20px;
}

.banner1  a{	
	width: 50%;
	height: 30%;
	background: white;
	border-radius:15px;
	margin-top: 30px;
	margin-left: 20%;
	text-decoration: none;
	font-weight: bold;
  text-align: center;
  padding: 14px 16px;
}

.banner1  a:hover{
	box-shadow: 4px 4px 17px rgba(0.55, 0, 0, 0.55); 
}

.banner2 {
	width: 100%;
	height: 350px;
	display: flex;
	margin-top: 40px auto 0 auto;
	
}

.banner2 h2 {
	display: block;
	font-size: 30px;
	line-height: .5;
	text-align: center;
	padding: 20px;	
	text-shadow: 1px 2px 1px grey;
	text-decoration: underline;
	color: #8080ff;
}

.banner2 p {
	display:block;
	padding: 3px;
	margin: 2px;
	text-shadow: 5px 2px 5px grey;
	font-size: 15px;
}
	
.banner2  a{
	position: relative;
	background: white;
	border-radius:15px;
	text-decoration: none;
	font-weight: bold;
    padding: 12px 16px;
}

.banner2  a:hover{
	box-shadow: 4px 4px 17px rgba(0.55, 0, 0, 0.55); 
}

.banner {
	display: block;
	max-width: 100%;
	height: auto;
	text-align: center;
	text-shadow: gray;
	background: #6bdada;
	margin-top: 20px;
	margin-left: 50%;
}

.banner h1 {
	padding: 50px;
	color: #69e099;
	font-size: 45px;
	text-shadow: 5px 2px 5px grey;
}

.banner p {
	color: black;
	font-size: 40px;
	text-shadow: 5px 2px 5px grey;
	margin-top: -25px;
	padding: 50px;
}

.banner img {
	width: 100px;
	margin-left: 0px;
}


.bannerlayout{
  line-height: 1.65;
  padding: 20px 20px;
  display: flex;
}

/* Start paragraph design */

.paratitle{	
	font-size: 20px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
	color: #400080;
	width: 100%;
	text-align:  center;
}


 /* Start Flex servicing */
    
    .para-container {
  max-width: 1400px;
  margin: 40px 20px 0 20px;
  display: flex;
}

.para-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 96%;
}


/* Start Contact us form */

.contactus{
	margin-top: 50px;
}

.contactusform{
		text-align: center;
		background: white;
		box-shadow: 4px 4px 17px rgba(0.55, 0, 0, 0.55); 
}

form{
	display: flex;
	flex-direction: column;
	padding: 2vw 4vw;
	width: 90%;
	max-width: 800px;
	border-radius: 10px;
	margin: 20px auto;	
}

form h3 {
	color: #555;
	font-weight: 600;
	margin-bottom: 20px;
	background: #119ee7;
}

form input{
	border: 0;
	box-shadow: 4px 4px 5px rgba(0.55, 0, 0, 0.25);
	margin: 10px 0;
	padding: 15px;
	font-size: 16px;
	background: #f5f5f5;
}

form textarea {
	border: 0;
	box-shadow: 4px 4px 5px rgba(0.55, 0, 0, 0.25);
	margin: 10px 0;
	padding:30px 15px;
	font-size: 16px;
	background: #f5f5f5;
}

form button {
	width : 150px;
	padding: 15px;
	font-size: 18px;
	background: #119ee7;
	border: 0;	
	cursor: pointer;
	margin: 20px auto;
	box-shadow: 4px 4px 17px rgba(0.55, 0, 0, 0.55);
}

/* endContact us form */

    /* End Flex servicing */
    
    

/* End paragraph design */

/* Start map container */
.mapcontainer{
	width: 100%;
	padding: 0;
	margin: 0;
}



iframe {
	width: 100%;
	height: 400px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25); 
}

/* End map container */

/* Start Footer menu container */

.footermenu{
	width: 100%;
	color: white;	
	font-weight: lighter;
	font-size: 80%;
	background: #3e3e3e;
	margin-bottom: 0;
	padding-bottom: 0;
	
}

.footermenuitem{
	border-right: 1px;
	border-right-color: black;
	border-right-style: groove;
	margin: 0;
	padding: 0;
	text-align: left;
}

@media (max-width: 425px) {
	.footermenuitem{
	border: none;
}
}

.fmenutitle{
	text-align: center;
	font-size: 16px;
}



.footermenu .call-out .arrow { 
	font-size: 13px;
	color: #b4b4b4;
	text-decoration: none;
	background: url("../image/arrow.png") no-repeat 0px;
	padding: 0 0 0 13px;
}

.footermenu .call-out a:hover {  
	
	color: #f4f4f4;
}

.socialmediacontainer{
	width: 100%;
	margin: 40px 30px;
	padding-bottom: 20px;
}

.socialmediaicon{
	padding-right: 5px; 
    height: 20px;
    width: 20px;
    float: left;
    background-size: contain;
    color: #fff;
}

