html, body {
	height: 100%
}

body {
	color: #212226
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px
}

section {
	background: #fff;
	overflow: hidden
}

blockquote {
	font-family: "Raleway", sans-serif
}

.btn-general {
	font-family: "Raleway", sans-serif;
	border-radius: 28px;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 6px;
	padding: 12px 46px 12px 46px;
	-webkit-transition: all .5s;
	transition: all .5s
}

.btn-home {
	color: #fff;
	border: 1px solid #fff
}

.btn-home:hover, .btn-home:focus {
	color: #fff;
	background-color: #57cbcc;
	border: 1px solid #57cbcc
}

.btn-service {
	color: #fff;
	border: 1px solid #fff;
	background-color: #57cbcc
}

.btn-service:hover, .btn-service:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #212226
}

.btn-white {
	color: #212226;
	border: 1px solid #fff;
	background-color: #fff
}

.btn-white:hover, .btn-white:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #212226
}

.btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 3px 15px;
	border-radius: 4px;
	font-size: 22px
}

#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999
}

#status {
	background-image: url("../images/preloader/preloader.gif");
	background-repeat: no-repeat;
	width: 200px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -80px
}

.navbar {
	padding: 20px 0 20px 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear
}

.site-nav-wrapper {
	padding: 0 85px
}

.navbar-brand img {
	width: 120px;
	height: 50px;
	margin-top: -12px
}

ul.navbar-nav>li>a {
	font-family: "Raleway", sans-serif;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px
}

ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:focus {
	background: none;
	color: #57cbcc
}

.white-nav-top {
	background: #fff;
	padding: 10px 0;
	-webkit-box-shadow: 0 8px 6px -9px #999;
	box-shadow: 0 8px 6px -9px #999;
	z-index: 2
}

.white-nav-top ul.navbar-nav>li>a {
	color: #212226
}

.white-nav-top ul.navbar-nav>li>a:hover, .white-nav-top ul.navbar-nav>li>a:focus
	{
	color: #57cbcc
}

.white-nav-top ul.navbar-nav>li.active>a {
	color: #57cbcc;
	font-weight: 500
}

#home {
	background: none;
	height: 100%
}

#home-bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	background: url("../videos/web4buddy.jpg") no-repeat;
	background-size: cover
}

#home-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1
}

#home-content {
	width: 100%;
	height: 100%;
	display: table
}

#home-content-inner {
	display: table-cell;
	vertical-align: middle
}

#home-heading h1 {
	color: #fff;
	font-size: 55px;
	font-weight: 200;
	margin: 0;
	display: inline-block
}

#home-heading h1 span {
	color: #57cbcc;
	font-weight: 600;
	text-transform: uppercase
}

#home-text p {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	margin: 8px 0 30px 0
}

#home-text p:hover {
	text-decoration: none
}

#arrow-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	color: #fff;
	font-size: 32px;
	width: 32px;
	height: 32px;
	text-align: center;
	margin-left: -15px;
	z-index: 1
}

#arrow-down:hover, #arrow-down:focus {
	color: #57cbcc
}

.content-box-lg {
	padding: 60px 0
}

.content-box-md {
	padding: 50px 0
}

.content-box-sm {
	padding: 90px 0
}

.vertical-heading h5 {
	color: #57cbcc;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	word-spacing: 8px;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	top: 60px;
	left: -50px
}

.vertical-heading h2 {
	margin: 0 0 0 35px
}

.horizontal-heading h2, .vertical-heading h2 {
	font-size: 42px;
	font-weight: 200;
	line-height: 45px
}

.horizontal-heading {
	margin-bottom: 80px
}

.horizontal-heading h5 {
	font-size: 16px;
	color: #57cbcc;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 10px
}

.horizontal-heading h2 {
	margin: 0
}

#about-right p:first-child {
	margin-bottom: 30px;
	text-align: justify
}

#about-bottom {
	margin-top: 20px
}

#about-bottom img {
	margin: 0 auto
}

#about-02 {
	background-color: #f4f4f4
}

.about-item {
	background-color: #fff;
	padding: 80px 30px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.about-item i {
	font-size: 42px;
	margin: 0
}

.about-item h3 {
	font-size: 24px;
	margin-bottom: 10px
}

.about-item hr {
	width: 45px;
	height: 3px;
	background-color: #57cbcc;
	margin: 0 auto;
	border: none
}

.about-item p {
	margin: 20px
}

.about-item:hover {
	background-color: #57cbcc
}

.about-item:hover i, .about-item:hover h3, .about-item:hover p {
	color: #fff
}

.about-item:hover hr {
	background-color: #fff
}

.about-item:hover i {
	transform: translateY(-20px)
}

.about-item, .about-item i, .about-item hr {
	-webkit-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out
}

#statement {
	background: url("../images/statements/statement.jpg") no-repeat fixed
		center;
	background-size: cover
}

#statement .content-box-lg {
	background: rgba(0, 0, 0, 0.5)
}

#statement-text h3 {
	color: #fff;
	font-size: 28px;
	line-height: 45px
}

#statement-text p {
	font-size: 14px;
	color: #57cbcc;
	font-family: "Raleway", sans-serif;
	margin-top: 8px
}

#services-01 img {
	margin: 150px 0 0 0
}

.service-item {
	margin: 35px 0
}

.service-item .icon {
	font-size: 42px;
	margin: 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.service-item:hover .icon {
	color: #57cbcc;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px)
}

.service-item h4 {
	font-size: 24px;
	text-transform: uppercase;
	color: #57cbcc;
	margin: 0 0 6px 0
}

.service-item h4:hover {
	color: #212226
}

.service-item p {
	text-align: justify;
	line-height: 25px;
	font-size: 15px
}

#services-02 {
	background-color: #f4f4f4
}

#services-tabs ul {
	margin-bottom: 40px
}

#services-tabs ul li {
	padding: 5px 30px
}

#services-tabs ul li a {
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	color: #212226;
	text-transform: uppercase;
	font-weight: 400;
	padding: 0;
	text-decoration: none
}

#services-tabs ul li.r-tabs-state-active a {
	color: #57cbcc;
	font-weight: 700;
	border-bottom: 3px solid #57cbcc;
	padding-bottom: 5px;
	-webkit-transition: border-color 300ms linear;
	transition: border-color 300ms linear
}

.service-tab .col-md-6 {
	padding: 0
}

.service-tab img {
	width: 100%;
	margin: 0 auto
}

.service-tab .tab-bg {
	background: #fff;
	padding: 30px 30px;
	min-height: 392px
}

.service-tab h2 {
	font-size: 48px;
	color: #bbb;
	margin-bottom: 16px;
	font-weight: 200
}

.service-tab h3 {
	font-size: 32px;
	margin-bottom: 30px
}

.service-tab p {
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 30px;
	font-size: 14px
}

#portfolio .vertical-heading {
	margin-bottom: 50px
}

.row.no-gutters [class*=col-] {
	padding: 2px
}

.portfolio-item {
	overflow: hidden;
	position: relative
}

#isotope-filters {
	margin-bottom: 20px;
	padding: 20px 25px 20px 0
}

#isotope-filters button {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-right: 30px;
	outline: 0
}

#isotope-filters button span {
	display: block;
	padding-bottom: 5px;
	-webkit-transition: border-color .4s ease-in-out;
	transition: border-color .4s ease-in-out
}

#isotope-filters button.active span {
	color: #57cbcc;
	border-bottom: 3px solid #57cbcc
}

.portfolio-item img {
	width: 100%;
	height: auto;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease
}

.portfolio-item:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 14, 17, 0.9);
	-webkit-cursor: pointer;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease
}

.portfolio-item-details {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.portfolio-item-details h3 {
	color: #57cbcc;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-20%);
	transform: translateY(-20%);
	-webkit-transition: all .8s;
	transition: all .8s
}

.portfolio-item-details span {
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 6px;
	width: 30px;
	margin: 11px auto 5px auto
}

.portfolio-item-details p {
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(20%);
	transform: translateY(20%);
	-webkit-transition: all .8s;
	transition: all .8s
}

.portfolio-item:hover .portfolio-item-details h3 {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.portfolio-item:hover .portfolio-item-details p {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.portfolio-item:hover .portfolio-item-overlay {
	opacity: 1
}

#team-left .vertical-heading {
	min-height: 160px
}

.team-members-content {
	margin: 8px;
	position: relative
}

.team-members-overlay {
	background-color: rgba(33, 34, 38, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear
}

.team-info {
	width: 100%;
	height: 100%;
	padding: 130px 0
}

.team-info h6 {
	color: #57cbcc;
	font-size: 16px;
	margin: 0
}

.team-info p {
	color: #fff;
	padding: 0 5px
}

.team-members-content:hover .team-members-overlay {
	opacity: 1
}

ul.team-social-list {
	padding: 0;
	margin-top: 20px
}

ul.team-social-list li {
	display: inline-block;
	padding: 0
}

ul.team-social-list li a {
	border: 1px solid #fff;
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

ul.team-social-list li:nth-child(1) a:hover {
	background: #3b5998;
	border-color: transparent
}

ul.team-social-list li:nth-child(2) a:hover {
	background: #00aced;
	border-color: transparent
}

ul.team-social-list li:nth-child(3) a:hover {
	background: #2867b2;
	border-color: transparent
}

ul.team-social-list li:nth-child(4) a:hover {
	background: #e4405f;
	border-color: transparent
}

.owl-theme .owl-nav {
	color: #212226;
	font-size: 40px;
	background: none
}

.owl-theme .owl-nav[class*=owl-]:hover {
	background: none
}

.skill {
	margin-bottom: 20px
}

.skill h4 {
	line-height: 62px;
	margin: 0;
	font-weight: 400
}

.progress {
	height: 25px;
	border-radius: 0;
	background-color: #efefef;
	overflow: visible
}

.progress-bar {
	background: #57cbcc;
	position: relative
}

.progress-bar span {
	font-size: 11px;
	font-weight: 100;
	font-family: "Open Sans", sans-serif;
	background: #212226;
	padding: 3px;
	position: absolute;
	left: 97%;
	top: -45px
}

.progress-bar span:before {
	content: "";
	border-top: 8px solid #212226;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	bottom: -8px;
	left: 23%
}

.pricing-table {
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 32px 21px;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.pricing-table:hover {
	background: #57cbcc
}

.pricing-table .type h4 {
	color: #57cbcc;
	font-size: 24px;
	margin-bottom: 25px
}

.pricing-table .price-list {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 24px 0
}

.pricing-table .price-list h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 42px;
	font-weight: 100;
	margin: 0 0 0 24px;
	position: relative
}

.pricing-table .price-list h2 span {
	font-family: "Raleway", sans-serif
}

.pricing-table .price-list h2 span.dollar {
	font-size: 18px;
	font-weight: 300;
	position: absolute;
	left: -20px;
	top: 5px
}

.pricing-table .price-list h2 span.month {
	font-size: 11px;
	font-weight: 400;
	position: absolute;
	left: -5px;
	bottom: -12px
}

.pricing-table .price-list p {
	line-height: normal;
	font-weight: 200;
	margin: 0;
	padding: 0
}

.pricing-table ul.package {
	list-style: none;
	padding: 20px 0
}

.pricing-table ul.package li {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px
}

.pricing-table ul.package li i {
	width: 24px
}

.pricing-table .btn-service, .pricing-table.black .btn-white {
	width: 96%
}

.pricing-table:hover h4, .pricing-table:hover h2, .pricing-table:hover p,
	.pricing-table:hover ul.package {
	color: #fff
}

.pricing-table:hover .btn-service {
	background: #fff;
	color: #212226;
	border: 1px solid #fff
}

.pricing-table .btn-service:hover, .pricing-table .btn-service:focus {
	background: #212226;
	color: #fff;
	border: 1px solid #212226
}

.pricing-table.black {
	background: #212226;
	color: #fff
}

.pricing-table.black .type h4 {
	color: #fff
}

.pricing-table.black:hover {
	background: #57cbcc
}

.notes {
	text-align: center;
	margin-bottom: 15px
}

.notes p {
	font-size: 11px
}

#stats {
	background: url("../images/stats/stats.jpg") no-repeat fixed center;
	background-size: cover
}

#stats .content-box-md {
	background: rgba(0, 0, 0, 0.8)
}

#stats .vertical-heading {
	margin-bottom: 50px
}

#stats .vertical-heading h2 {
	color: #fff
}

.stats-item {
	background: rgba(61, 68, 68, 0.6);
	border-radius: 4px;
	min-height: 170px;
	padding: 25px 50px;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.stats-item i {
	font-size: 42px;
	color: #57cbcc;
	margin: 0 0 6px 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.stats-item h3 {
	font-size: 32px;
	color: #fff;
	margin: 5px 0 5px 0
}

.stats-item p {
	color: #fff;
	margin: 0
}

.stats-item:hover {
	background: #57cbcc
}

.stats-item:hover i {
	color: #212226;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px)
}

#clients {
	padding-bottom: 20px
}

#clients .horizontal-heading {
	margin-bottom: 30px
}

#client-list {
	padding: 0
}

.client {
	padding: 0 10px;
	max-width: 150px;
	margin: 0 auto;
	line-height: 100px
}

.client img {
	display: inline-block !important
}

#testimonials {
	background: #f4f4f4;
	padding-bottom: 45px;
	overflow: visible
}

#testimonials .vertical-heading {
	padding: 90px 0;
	margin-bottom: 50px
}

#testimonials-slider {
	background: #57cbcc;
	top: -50px;
	border-radius: 10px
}

.testimonials .row {
	margin-bottom: 25px
}

.testimonials {
	padding: 20px 45px 0 45px;
	color: #fff
}

.testimonials h3 {
	font-size: 32px;
	line-height: 35px
}

.testimonials .stars {
	font-size: 20px;
	margin: 30px 0 10px 0
}

.testimonials p {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 20px
}

.testimonials a {
	color: #fff;
	text-decoration: none;
	font-weight: 800
}

.author img {
	height: 100px
}

.author .author-name-des {
	width: auto;
	margin-top: 25px;
	text-align: left
}

.author .author-name-des p {
	font-size: 14px;
	margin: 0
}

#blog {
	background: url("") no-repeat fixed center;
	background-size: cover;
	padding: 0
}

#blog .content-box-md {
	background: rgba(0, 0, 0, 0.6)
}

#blog .vertical-heading {
	margin-bottom: 50px
}

#blog .vertical-heading h2 {
	color: #fff
}

#blog-left p {
	margin: 25px 0;
	color: #fff;
	font-size: 14px;
	text-align: justify
}

#blog-btn a {
	margin: 0
}

.blog-post {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 6px
}

.blog-post img {
	width: 100%
}

.blog-post h4 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 10px 4px;
	color: #57cbcc;
	font-weight: 600
}

.blog-post h3 {
	font-family: 'Sans', sans-serif
}

.blog-post>p {
	line-height: 18px;
	font-size: 12px;
	margin: 10px 0 0 0;
	font-weight: 600;
	color: #34495e
}

.blog-post #blog-btn a {
	margin-top: -40px;
	margin-right: 20px;
	color: #fff
}

.blog-post a {
	display: inline-block;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #57cbcc;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.blog-post a:hover {
	color: #212226
}

.blog-post .post-meta {
	border-top: 10px solid #e0e0e0;
	margin-top: 10px;
	padding-top: 10px
}

.blog-post .post-meta p {
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	line-height: 24px;
	font-weight: 700;
	margin: 0
}

.blog-post .post-meta p img {
	width: 35px;
	height: 25px;
	margin: 0 4px 0 0;
	display: inline
}

.blog-post .post-meta p.date {
	margin: 0;
	font-family: 'sans', sans-serif
}

.blog-post .share ul.share-buttons {
	padding: 0
}

.blog-post .share ul.share-buttons li {
	display: inline-block;
	padding: 0
}

.blog-post .share ul.share-buttons li a {
	border: 1px solid #fff;
	width: 40px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	font-size: 18px;
	margin-left: 10px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.blog-post .share ul.share-buttons li:nth-child(1) a {
	background: #3b5998;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(2) a {
	background: #00aced;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(3) a {
	background: #2867b2;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(4) a {
	background: #25d365;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(5) a {
	background: #e60023;
	border-color: transparent
}

#contact-left p {
	margin: 25px 0 20px 0
}

ul.office-detail {
	list-style: none;
	padding: 0
}

ul.office-detail li {
	font-family: 'Open Sans', sans-serif;
	margin-top: 12px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

ul.office-detail li i {
	font-size: 20px;
	width: 30px
}

#contact-left ul.team-social-list li a {
	color: #212226;
	border: 1px solid #212226;
	text-align: center
}

#contact-left ul.team-social-list li a:hover {
	color: #fff;
	border-color: transparent
}

#contact {
	padding: 60px 0 10px 0
}

#contact-right {
	padding: 25px 30px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px
}

#contact-right h4 {
	font-size: 24px
}

#contact-right p {
	margin-bottom: 25px
}

#contact-right form .form-control {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500
}

#contact-right form textarea.form-control {
	min-height: 164px
}

#error_message {
	margin-bottom: 20px;
	background: #c0392b;
	padding: 0;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	font-family: 'Raleway', sans-serif
}

#footer {
	background: #212226;
	padding: 20px
}

#footer p {
	color: #fff;
	line-height: 25px;
	margin: 0
}

#footer p span {
	color: #57cbcc
}

#footer p span a {
	color: #57cbcc;
	text-decoration: none
}

#blogpage-home {
	background: url("../images/statements/statement.jpg") no-repeat fixed
		center;
	background-size: cover
}

#blogpage-home .blogpage-heading {
	background: rgba(0, 0, 0, 0.5);
	height: 100px
}

#blogpage-section {
	margin: 80px 0 0 0;
	padding: 0 40px;
	height: auto
}

#blogpage-heading-text h1 {
	color: #212226;
	font-size: 32px;
	font-family: "Raleway", sans-serif;
	margin: 0 0 45px 0;
	font-weight: 700
}

#blogpage-heading-text h1 span {
	color: #57cbcc
}

#blogpage-section .blog-post {
	padding: 20px 20px;
	margin-bottom: 20px
}

#blogpage-section h1 {
	color: #57cbcc;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

#blogpage-section h2 {
	color: #808080;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 16px;
	margin: 10px 0
}

#blogpage-section h3 {
	color: #808080;
	font-size: 14px;
	font-family: 'sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
	margin: 10px 0
}

#blogpage-section h4 {
	color: #57cbcc;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

#blogpage-section p {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: #808080
}

#blogpage-section b, strong {
	color: #57cbcc;
	font-weight: 800
}

#blogpage-section .blog-comment .comments {
	margin: 20px 0 20px 0;
	padding: 22px 0 0 10px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px
}

#blogpage-section .blog-comment .comments .comments-data {
	margin-top: 15px
}

.comments .user-img img {
	margin-left: 14px
}

.comments .admin-img img {
	margin-left: auto
}

#blogpage-section .blog-comment .comments .blog-text {
	margin-top: -8px
}

#blogpage-section .blog-comment .comments h4 {
	color: #57cbcc;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600
}

#blogpage-section .blog-comment .comments h5 {
	color: #212226;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400
}

#blogpage-section .blog-comment .comments p {
	padding: 0 30px 0 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: justify
}

#blogpage-section .blog-comment hr {
	font-weight: 500;
	color: #57cbcc;
	margin: 20px 0
}

#blogpage-section .blog-comment form {
	margin: 40px 0 5px 0
}

.blog-comment {
	padding: 0 10px;
	border-radius: 4px;
	margin: 40px 0 50px 0
}

.blog-comment h4 {
	font-size: 24px
}

.blog-comment p {
	margin-bottom: 25px;
	line-height: 15px
}

.blog-comment form .form-control {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500
}

.blog-comment form textarea.form-control {
	min-height: 164px
}

.blog-sidebar-post {
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin-top: 15px
}

.blog-sidebar-post img {
	width: 350px;
	height: auto;
	border-radius: 5px
}

.blog-sidebar-details .about-image img {
	width: 150px;
	height: 80px;
	border-radius: 50%
}

.blog-sidebar-details .about-description p {
	font-size: 13px;
	line-height: 20px;
	font-weight: 600
}

.blog-sidebar-details img {
	width: 200px;
	height: 50px
}

.blog-sidebar-details .blog-sidebar-heading {
	margin-top: 0
}

#blogpage-section .blog-sidebar-heading a {
	color: #808080;
	font-size: 12px;
	font-weight: 700;
	line-height: 0
}

#blogpage-section .blog-sidebar-heading a:hover {
	color: #57cbcc
}

#blogpage-section .blog-sidebar-heading p {
	color: #808080;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px
}

#blogpage-section .blog-sidebar-heading p:hover {
	color: #57cbcc
}

ul.pdf-link {
	margin-left: -5px
}

ul.pdf-link li {
	list-style: none;
	margin: 10px 0
}

ul.pdf-link li a {
	color: #212226
}

.panel-footer {
	background-color: #fff;
	border-top: 1px solid #fff
}

.admin-img img {
	width: 100px;
	height: 60px;
	margin-top: -10px;
	margin-right: -16px
}

.glyphicon {
	margin-right: 4px !important
}

.pagination .glyphicon {
	margin-right: 0 !important
}

.pagination a {
	color: #57cbcc
}

.blog-sidebar-post ul {
	padding: 0 10px;
	margin: 0;
	list-style: none
}

.blog-sidebar-post ul.categories li a {
	color: #808080;
	font-weight: 600;
	font-size: 14px
}

.blog-sidebar-post .about-description form {
	padding: 0 10px
}

.blog-sidebar-post .about-description form input {
	border-radius: 5px;
	height: 40px
}

.news-item {
	padding: 0 6px;
	margin-bottom: 0
}

#blogpage-section ul.team-social-list {
	text-align: center
}

#blogpage-section ul.team-social-list li a {
	color: #212226;
	border: 1px solid #212226;
	text-align: center
}

#blogpage-section ul.team-social-list li a:hover {
	color: #fff;
	border-color: transparent
}

#login-modal .modal-dialog {
	width: 350px;
	height: auto
}

#login-modal input {
	margin-top: 10px
}

#div-login-msg, #div-lost-msg, #div-register-msg {
	border: 1px solid #dadfe1;
	height: 30px;
	line-height: 28px;
	transition: all ease-in-out 500ms
}

#div-login-msg.success, #div-lost-msg.success, #div-register-msg.success
	{
	border: 1px solid #68c3a3;
	background-color: #c8f7c5
}

#div-login-msg.error, #div-lost-msg.error, #div-register-msg.error {
	border: 1px solid #eb575b;
	background-color: #ffcad1
}

#icon-login-msg, #icon-lost-msg, #icon-register-msg {
	width: 30px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #dadfe1;
	margin-right: 5px;
	transition: all ease-in-out 500ms
}

#icon-login-msg.success, #icon-lost-msg.success, #icon-register-msg.success
	{
	background-color: #68c3a3 !important
}

#icon-login-msg.error, #icon-lost-msg.error, #icon-register-msg.error {
	background-color: #eb575b !important
}

#img_logo {
	max-height: 100px;
	max-width: 100px;
	margin-top: 20px
}

.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .8
}

.modal-content {
	background-color: #ececec;
	border: 1px solid #bdc3c7;
	border-radius: 0;
	outline: 0;
	height: auto
}

.modal-header {
	min-height: 16.43px;
	padding: 15px 15px 15px 15px;
	border-bottom: 0
}

.modal-body {
	position: relative;
	padding: 5px 12px 5px 20px;
	margin-top: -20px
}

.modal-footer {
	padding: 15px 20px 15px 15px;
	text-align: left;
	border-top: 0;
	margin-top: -20px
}

.checkbox {
	margin-bottom: 0
}

.btn {
	border-radius: 0
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: none
}

.btn-lg, .btn-group-lg>.btn {
	border-radius: 0
}

.btn-link {
	padding: 5px 10px 0 0;
	color: #95a5a6
}

.btn-link:hover, .btn-link:focus {
	color: #57cbcc;
	text-decoration: none
}

.glyphicon {
	top: 0
}

.form-control {
	border-radius: 0
}

.ahref-portfolio {
	color: #57cbcc;
	font-weight: 800;
	text-decoration: none
}

.ahref-portfolio:hover {
	text-decoration: none;
	color: #57cbcc
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	background-color: #57cbcc;
	border-color: #57cbcc
}

.pagination>li>a, .pagination>li>span {
	color: #57cbcc
}

.panel-group {
	margin-bottom: 30px;
	margin-top: 10px
}

.panel-title a {
	font-size: 18px
}

.panel-body p {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: #808080
}

html, body {
	height: 100%
}

body {
	color: #212226
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif
}

p {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px
}

section {
	background: #fff;
	overflow: hidden
}

blockquote {
	font-family: "Raleway", sans-serif
}

.btn-general {
	font-family: "Raleway", sans-serif;
	border-radius: 28px;
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 6px;
	padding: 12px 46px 12px 46px;
	-webkit-transition: all .5s;
	transition: all .5s
}

.btn-home {
	color: #fff;
	border: 1px solid #fff
}

.btn-home:hover, .btn-home:focus {
	color: #fff;
	background-color: #57cbcc;
	border: 1px solid #57cbcc
}

.btn-service {
	color: #fff;
	border: 1px solid #fff;
	background-color: #57cbcc
}

.btn-service:hover, .btn-service:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #212226
}

.btn-white {
	color: #212226;
	border: 1px solid #fff;
	background-color: #fff
}

.btn-white:hover, .btn-white:focus {
	color: #fff;
	background-color: #212226;
	border: 1px solid #212226
}

.btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	padding: 3px 15px;
	border-radius: 4px;
	font-size: 22px
}

#preloader {
	background-color: #fff;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999
}

#status {
	background-image: url("../images/preloader/preloader.gif");
	background-repeat: no-repeat;
	width: 200px;
	height: 150px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -80px
}

.navbar {
	padding: 20px 0 20px 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear
}

.site-nav-wrapper {
	padding: 0 85px
}

.navbar-brand img {
	width: 120px;
	height: 50px;
	margin-top: -12px
}

ul.navbar-nav>li>a {
	font-family: "Raleway", sans-serif;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px
}

ul.navbar-nav>li>a:hover, ul.navbar-nav>li>a:focus {
	background: none;
	color: #57cbcc
}

.white-nav-top {
	background: #fff;
	padding: 10px 0;
	-webkit-box-shadow: 0 8px 6px -9px #999;
	box-shadow: 0 8px 6px -9px #999;
	z-index: 2
}

.white-nav-top ul.navbar-nav>li>a {
	color: #212226
}

.white-nav-top ul.navbar-nav>li>a:hover, .white-nav-top ul.navbar-nav>li>a:focus
	{
	color: #57cbcc
}

.white-nav-top ul.navbar-nav>li.active>a {
	color: #57cbcc;
	font-weight: 500
}

#home {
	background: none;
	height: 100%
}

#home-bg-video {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
	background: url("../videos/web4buddy.jpg") no-repeat;
	background-size: cover
}

#home-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1
}

#home-content {
	width: 100%;
	height: 100%;
	display: table
}

#home-content-inner {
	display: table-cell;
	vertical-align: middle
}

#home-heading h1 {
	color: #fff;
	font-size: 55px;
	font-weight: 200;
	margin: 0;
	display: inline-block
}

#home-heading h1 span {
	color: #57cbcc;
	font-weight: 600;
	text-transform: uppercase
}

#home-text p {
	color: #fff;
	font-size: 20px;
	font-weight: 200;
	margin: 8px 0 30px 0
}

#home-text p:hover {
	text-decoration: none
}

#arrow-down {
	position: absolute;
	left: 50%;
	bottom: 20px;
	color: #fff;
	font-size: 32px;
	width: 32px;
	height: 32px;
	text-align: center;
	margin-left: -15px;
	z-index: 1
}

#arrow-down:hover, #arrow-down:focus {
	color: #57cbcc
}

.content-box-lg {
	padding: 60px 0
}

.content-box-md {
	padding: 50px 0
}

.content-box-sm {
	padding: 90px 0
}

.vertical-heading h5 {
	color: #57cbcc;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	word-spacing: 8px;
	display: inline-block;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	top: 60px;
	left: -50px
}

.vertical-heading h2 {
	margin: 0 0 0 35px
}

.horizontal-heading h2, .vertical-heading h2 {
	font-size: 42px;
	font-weight: 200;
	line-height: 45px
}

.horizontal-heading {
	margin-bottom: 80px
}

.horizontal-heading h5 {
	font-size: 16px;
	color: #57cbcc;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 10px
}

.horizontal-heading h2 {
	margin: 0
}

#about-right p:first-child {
	margin-bottom: 30px;
	text-align: justify
}

#about-bottom {
	margin-top: 20px
}

#about-bottom img {
	margin: 0 auto
}

#about-02 {
	background-color: #f4f4f4
}

.about-item {
	background-color: #fff;
	padding: 80px 30px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .1);
	box-shadow: 0 0 10px rgba(0, 0, 0, .1)
}

.about-item i {
	font-size: 42px;
	margin: 0
}

.about-item h3 {
	font-size: 24px;
	margin-bottom: 10px
}

.about-item hr {
	width: 45px;
	height: 3px;
	background-color: #57cbcc;
	margin: 0 auto;
	border: none
}

.about-item p {
	margin: 20px
}

.about-item:hover {
	background-color: #57cbcc
}

.about-item:hover i, .about-item:hover h3, .about-item:hover p {
	color: #fff
}

.about-item:hover hr {
	background-color: #fff
}

.about-item:hover i {
	transform: translateY(-20px)
}

.about-item, .about-item i, .about-item hr {
	-webkit-transition: all 600ms ease-in-out;
	transition: all 600ms ease-in-out
}

#statement {
	background: url("../images/statements/statement.jpg") no-repeat fixed
		center;
	background-size: cover
}

#statement .content-box-lg {
	background: rgba(0, 0, 0, 0.5)
}

#statement-text h3 {
	color: #fff;
	font-size: 28px;
	line-height: 45px
}

#statement-text p {
	font-size: 14px;
	color: #57cbcc;
	font-family: "Raleway", sans-serif;
	margin-top: 8px
}

#services-01 img {
	margin: 150px 0 0 0
}

.service-item {
	margin: 35px 0
}

.service-item .icon {
	font-size: 42px;
	margin: 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.service-item:hover .icon {
	color: #57cbcc;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px)
}

.service-item h4 {
	font-size: 24px;
	text-transform: uppercase;
	color: #57cbcc;
	margin: 0 0 6px 0
}

.service-item h4:hover {
	color: #212226
}

.service-item p {
	text-align: justify;
	line-height: 25px;
	font-size: 15px
}

#services-02 {
	background-color: #f4f4f4
}

#services-tabs ul {
	margin-bottom: 40px
}

#services-tabs ul li {
	padding: 5px 30px
}

#services-tabs ul li a {
	font-family: "Raleway", sans-serif;
	font-size: 13px;
	color: #212226;
	text-transform: uppercase;
	font-weight: 400;
	padding: 0;
	text-decoration: none
}

#services-tabs ul li.r-tabs-state-active a {
	color: #57cbcc;
	font-weight: 700;
	border-bottom: 3px solid #57cbcc;
	padding-bottom: 5px;
	-webkit-transition: border-color 300ms linear;
	transition: border-color 300ms linear
}

.service-tab .col-md-6 {
	padding: 0
}

.service-tab img {
	width: 100%;
	margin: 0 auto
}

.service-tab .tab-bg {
	background: #fff;
	padding: 30px 30px;
	min-height: 392px
}

.service-tab h2 {
	font-size: 48px;
	color: #bbb;
	margin-bottom: 16px;
	font-weight: 200
}

.service-tab h3 {
	font-size: 32px;
	margin-bottom: 30px
}

.service-tab p {
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 30px;
	font-size: 14px
}

#portfolio .vertical-heading {
	margin-bottom: 50px
}

.row.no-gutters [class*=col-] {
	padding: 2px
}

.portfolio-item {
	overflow: hidden;
	position: relative
}

#isotope-filters {
	margin-bottom: 20px;
	padding: 20px 25px 20px 0
}

#isotope-filters button {
	font-family: "Raleway", sans-serif;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding-right: 30px;
	outline: 0
}

#isotope-filters button span {
	display: block;
	padding-bottom: 5px;
	-webkit-transition: border-color .4s ease-in-out;
	transition: border-color .4s ease-in-out
}

#isotope-filters button.active span {
	color: #57cbcc;
	border-bottom: 3px solid #57cbcc
}

.portfolio-item img {
	width: 100%;
	height: auto;
	-webkit-transition: -webkit-transform .5s ease;
	transition: -webkit-transform .5s ease;
	transition: transform .5s ease;
	transition: transform .5s ease, -webkit-transform .5s ease
}

.portfolio-item:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1)
}

.portfolio-item-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(14, 14, 17, 0.9);
	-webkit-cursor: pointer;
	cursor: pointer;
	opacity: 0;
	-webkit-transition: all .8s ease;
	transition: all .8s ease
}

.portfolio-item-details {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}

.portfolio-item-details h3 {
	color: #57cbcc;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(-20%);
	transform: translateY(-20%);
	-webkit-transition: all .8s;
	transition: all .8s
}

.portfolio-item-details span {
	display: inline-block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	height: 6px;
	width: 30px;
	margin: 11px auto 5px auto
}

.portfolio-item-details p {
	font-size: 17px;
	color: #fff;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	-webkit-transform: translateY(20%);
	transform: translateY(20%);
	-webkit-transition: all .8s;
	transition: all .8s
}

.portfolio-item:hover .portfolio-item-details h3 {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.portfolio-item:hover .portfolio-item-details p {
	-webkit-transform: translateY(0);
	transform: translateY(0)
}

.portfolio-item:hover .portfolio-item-overlay {
	opacity: 1
}

#team-left .vertical-heading {
	min-height: 160px
}

.team-members-content {
	margin: 8px;
	position: relative
}

.team-members-overlay {
	background-color: rgba(33, 34, 38, 0.9);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear
}

.team-info {
	width: 100%;
	height: 100%;
	padding: 130px 0
}

.team-info h6 {
	color: #57cbcc;
	font-size: 16px;
	margin: 0
}

.team-info p {
	color: #fff;
	padding: 0 5px
}

.team-members-content:hover .team-members-overlay {
	opacity: 1
}

ul.team-social-list {
	padding: 0;
	margin-top: 20px
}

ul.team-social-list li {
	display: inline-block;
	padding: 0
}

ul.team-social-list li a {
	border: 1px solid #fff;
	width: 35px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

ul.team-social-list li:nth-child(1) a:hover {
	background: #3b5998;
	border-color: transparent
}

ul.team-social-list li:nth-child(2) a:hover {
	background: #00aced;
	border-color: transparent
}

ul.team-social-list li:nth-child(3) a:hover {
	background: #2867b2;
	border-color: transparent
}

ul.team-social-list li:nth-child(4) a:hover {
	background: #e4405f;
	border-color: transparent
}

.owl-theme .owl-nav {
	color: #212226;
	font-size: 40px;
	background: none
}

.owl-theme .owl-nav[class*=owl-]:hover {
	background: none
}

.skill {
	margin-bottom: 20px
}

.skill h4 {
	line-height: 62px;
	margin: 0;
	font-weight: 400
}

.progress {
	height: 25px;
	border-radius: 0;
	background-color: #efefef;
	overflow: visible
}

.progress-bar {
	background: #57cbcc;
	position: relative
}

.progress-bar span {
	font-size: 11px;
	font-weight: 100;
	font-family: "Open Sans", sans-serif;
	background: #212226;
	padding: 3px;
	position: absolute;
	left: 97%;
	top: -45px
}

.progress-bar span:before {
	content: "";
	border-top: 8px solid #212226;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	position: absolute;
	bottom: -8px;
	left: 23%
}

.pricing-table {
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	padding: 32px 21px;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.pricing-table:hover {
	background: #57cbcc
}

.pricing-table .type h4 {
	color: #57cbcc;
	font-size: 24px;
	margin-bottom: 25px
}

.pricing-table .price-list {
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	padding: 24px 0
}

.pricing-table .price-list h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 42px;
	font-weight: 100;
	margin: 0 0 0 24px;
	position: relative
}

.pricing-table .price-list h2 span {
	font-family: "Raleway", sans-serif
}

.pricing-table .price-list h2 span.dollar {
	font-size: 18px;
	font-weight: 300;
	position: absolute;
	left: -20px;
	top: 5px
}

.pricing-table .price-list h2 span.month {
	font-size: 11px;
	font-weight: 400;
	position: absolute;
	left: -5px;
	bottom: -12px
}

.pricing-table .price-list p {
	line-height: normal;
	font-weight: 200;
	margin: 0;
	padding: 0
}

.pricing-table ul.package {
	list-style: none;
	padding: 20px 0
}

.pricing-table ul.package li {
	font-family: "Open Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px
}

.pricing-table ul.package li i {
	width: 24px
}

.pricing-table .btn-service, .pricing-table.black .btn-white {
	width: 96%
}

.pricing-table:hover h4, .pricing-table:hover h2, .pricing-table:hover p,
	.pricing-table:hover ul.package {
	color: #fff
}

.pricing-table:hover .btn-service {
	background: #fff;
	color: #212226;
	border: 1px solid #fff
}

.pricing-table .btn-service:hover, .pricing-table .btn-service:focus {
	background: #212226;
	color: #fff;
	border: 1px solid #212226
}

.pricing-table.black {
	background: #212226;
	color: #fff
}

.pricing-table.black .type h4 {
	color: #fff
}

.pricing-table.black:hover {
	background: #57cbcc
}

.notes {
	text-align: center;
	margin-bottom: 15px
}

.notes p {
	font-size: 11px
}

#stats {
	background: url("../images/stats/stats.jpg") no-repeat fixed center;
	background-size: cover
}

#stats .content-box-md {
	background: rgba(0, 0, 0, 0.8)
}

#stats .vertical-heading {
	margin-bottom: 50px
}

#stats .vertical-heading h2 {
	color: #fff
}

.stats-item {
	background: rgba(61, 68, 68, 0.6);
	border-radius: 4px;
	min-height: 170px;
	padding: 25px 50px;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.stats-item i {
	font-size: 42px;
	color: #57cbcc;
	margin: 0 0 6px 0;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.stats-item h3 {
	font-size: 32px;
	color: #fff;
	margin: 5px 0 5px 0
}

.stats-item p {
	color: #fff;
	margin: 0
}

.stats-item:hover {
	background: #57cbcc
}

.stats-item:hover i {
	color: #212226;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px)
}

#clients {
	padding-bottom: 20px
}

#clients .horizontal-heading {
	margin-bottom: 30px
}

#client-list {
	padding: 0
}

.client {
	padding: 0 10px;
	max-width: 150px;
	margin: 0 auto;
	line-height: 100px
}

.client img {
	display: inline-block !important
}

#testimonials {
	background: #f4f4f4;
	padding-bottom: 45px;
	overflow: visible
}

#testimonials .vertical-heading {
	padding: 90px 0;
	margin-bottom: 50px
}

#testimonials-slider {
	background: #57cbcc;
	top: -50px;
	border-radius: 10px
}

.testimonials .row {
	margin-bottom: 25px
}

.testimonials {
	padding: 20px 45px 0 45px;
	color: #fff
}

.testimonials h3 {
	font-size: 32px;
	line-height: 35px
}

.testimonials .stars {
	font-size: 20px;
	margin: 30px 0 10px 0
}

.testimonials p {
	margin: 0;
	margin-top: 5px;
	margin-bottom: 20px
}

.testimonials a {
	color: #fff;
	text-decoration: none;
	font-weight: 800
}

.author img {
	height: 100px
}

.author .author-name-des {
	width: auto;
	margin-top: 25px;
	text-align: left
}

.author .author-name-des p {
	font-size: 14px;
	margin: 0
}

#blog {
	background: url("") no-repeat fixed center;
	background-size: cover;
	padding: 0
}

#blog .content-box-md {
	background: rgba(0, 0, 0, 0.6)
}

#blog .vertical-heading {
	margin-bottom: 50px
}

#blog .vertical-heading h2 {
	color: #fff
}

#blog-left p {
	margin: 25px 0;
	color: #fff;
	font-size: 14px;
	text-align: justify
}

#blog-btn a {
	margin: 0
}

.blog-post {
	background: #fff;
	margin-top: 20px;
	padding: 20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 6px
}

.blog-post img {
	width: 100%
}

.blog-post h4 {
	font-size: 16px;
	line-height: 20px;
	margin: 0 0 10px 4px;
	color: #57cbcc;
	font-weight: 600
}

.blog-post h3 {
	font-family: 'Sans', sans-serif
}

.blog-post>p {
	line-height: 18px;
	font-size: 12px;
	margin: 10px 0 0 0;
	font-weight: 600;
	color: #34495e
}

.blog-post #blog-btn a {
	margin-top: -40px;
	margin-right: 20px;
	color: #fff
}

.blog-post a {
	display: inline-block;
	margin-top: 10px;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	color: #57cbcc;
	font-size: 12px;
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.blog-post a:hover {
	color: #212226
}

.blog-post .post-meta {
	border-top: 10px solid #e0e0e0;
	margin-top: 10px;
	padding-top: 10px
}

.blog-post .post-meta p {
	font-size: 12px;
	font-family: "Raleway", sans-serif;
	line-height: 24px;
	font-weight: 700;
	margin: 0
}

.blog-post .post-meta p img {
	width: 35px;
	height: 25px;
	margin: 0 4px 0 0;
	display: inline
}

.blog-post .post-meta p.date {
	margin: 0;
	font-family: 'sans', sans-serif
}

.blog-post .share ul.share-buttons {
	padding: 0
}

.blog-post .share ul.share-buttons li {
	display: inline-block;
	padding: 0
}

.blog-post .share ul.share-buttons li a {
	border: 1px solid #fff;
	width: 40px;
	height: 35px;
	display: inline-block;
	line-height: 35px;
	font-size: 18px;
	margin-left: 10px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	-webkit-transition: all 400ms linear;
	transition: all 400ms linear
}

.blog-post .share ul.share-buttons li:nth-child(1) a {
	background: #3b5998;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(2) a {
	background: #00aced;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(3) a {
	background: #2867b2;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(4) a {
	background: #25d365;
	border-color: transparent
}

.blog-post .share ul.share-buttons li:nth-child(5) a {
	background: #e60023;
	border-color: transparent
}

#contact-left p {
	margin: 25px 0 20px 0
}

ul.office-detail {
	list-style: none;
	padding: 0
}

ul.office-detail li {
	font-family: 'Open Sans', sans-serif;
	margin-top: 12px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex
}

ul.office-detail li i {
	font-size: 20px;
	width: 30px
}

#contact-left ul.team-social-list li a {
	color: #212226;
	border: 1px solid #212226;
	text-align: center
}

#contact-left ul.team-social-list li a:hover {
	color: #fff;
	border-color: transparent
}

#contact {
	padding: 60px 0 10px 0
}

#contact-right {
	padding: 25px 30px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px
}

#contact-right h4 {
	font-size: 24px
}

#contact-right p {
	margin-bottom: 25px
}

#contact-right form .form-control {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500
}

#contact-right form textarea.form-control {
	min-height: 164px
}

#error_message {
	margin-bottom: 20px;
	background: #c0392b;
	padding: 0;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	font-family: 'Raleway', sans-serif
}

#footer {
	background: #212226;
	padding: 20px
}

#footer p {
	color: #fff;
	line-height: 25px;
	margin: 0
}

#footer p span {
	color: #57cbcc
}

#footer p span a {
	color: #57cbcc;
	text-decoration: none
}

#blogpage-home {
	background: url("../images/statements/statement.jpg") no-repeat fixed
		center;
	background-size: cover
}

#blogpage-home .blogpage-heading {
	background: rgba(0, 0, 0, 0.5);
	height: 100px
}

#blogpage-section {
	margin: 80px 0 0 0;
	padding: 0 40px;
	height: auto
}

#blogpage-heading-text h1 {
	color: #212226;
	font-size: 32px;
	font-family: "Raleway", sans-serif;
	margin: 0 0 45px 0;
	font-weight: 700
}

#blogpage-heading-text h1 span {
	color: #57cbcc
}

#blogpage-section .blog-post {
	padding: 20px 20px;
	margin-bottom: 20px
}

#blogpage-section h1 {
	color: #57cbcc;
	font-size: 28px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

#blogpage-section h2 {
	color: #808080;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 16px;
	margin: 10px 0
}

#blogpage-section h3 {
	color: #808080;
	font-size: 14px;
	font-family: 'sans', sans-serif;
	font-weight: 400;
	line-height: 20px;
	margin: 10px 0
}

#blogpage-section h4 {
	color: #57cbcc;
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	font-weight: 700
}

#blogpage-section p {
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 20px;
	text-align: left;
	color: #808080
}

#blogpage-section b, strong {
	color: #57cbcc;
	font-weight: 800
}

#blogpage-section .blog-comment .comments {
	margin: 20px 0 20px 0;
	padding: 22px 0 0 10px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	border-radius: 4px
}

#blogpage-section .blog-comment .comments .comments-data {
	margin-top: 15px
}

.comments .user-img img {
	margin-left: 14px
}

.comments .admin-img img {
	margin-left: auto
}

#blogpage-section .blog-comment .comments .blog-text {
	margin-top: -8px
}

#blogpage-section .blog-comment .comments h4 {
	color: #57cbcc;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600
}

#blogpage-section .blog-comment .comments h5 {
	color: #212226;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400
}

#blogpage-section .blog-comment .comments p {
	padding: 0 30px 0 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 15px;
	text-align: justify
}

#blogpage-section .blog-comment hr {
	font-weight: 500;
	color: #57cbcc;
	margin: 20px 0
}

#blogpage-section .blog-comment form {
	margin: 40px 0 5px 0
}

.blog-comment {
	padding: 0 10px;
	border-radius: 4px;
	margin: 40px 0 50px 0
}

.blog-comment h4 {
	font-size: 24px
}

.blog-comment p {
	margin-bottom: 25px;
	line-height: 15px
}

.blog-comment form .form-control {
	font-family: 'Open Sans', sans-serif;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 24px;
	font-weight: 500
}

.blog-comment form textarea.form-control {
	min-height: 164px
}

.blog-sidebar-post {
	background: #fff;
	padding: 20px;
	-webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin-top: 15px
}

.blog-sidebar-post img {
	width: 350px;
	height: auto;
	border-radius: 5px
}

.blog-sidebar-details .about-image img {
	width: 150px;
	height: 80px;
	border-radius: 50%
}

.blog-sidebar-details .about-description p {
	font-size: 13px;
	line-height: 20px;
	font-weight: 600
}

.blog-sidebar-details img {
	width: 200px;
	height: 50px
}

.blog-sidebar-details .blog-sidebar-heading {
	margin-top: 0
}

#blogpage-section .blog-sidebar-heading a {
	color: #808080;
	font-size: 12px;
	font-weight: 700;
	line-height: 0
}

#blogpage-section .blog-sidebar-heading a:hover {
	color: #57cbcc
}

#blogpage-section .blog-sidebar-heading p {
	color: #808080;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px
}

#blogpage-section .blog-sidebar-heading p:hover {
	color: #57cbcc
}

ul.pdf-link {
	margin-left: -5px
}

ul.pdf-link li {
	list-style: none;
	margin: 10px 0
}

ul.pdf-link li a {
	color: #212226
}

.panel-footer {
	background-color: #fff;
	border-top: 1px solid #fff
}

.admin-img img {
	width: 100px;
	height: 60px;
	margin-top: -10px;
	margin-right: -16px
}

.glyphicon {
	margin-right: 4px !important
}

.pagination .glyphicon {
	margin-right: 0 !important
}

.pagination a {
	color: #57cbcc
}

.blog-sidebar-post ul {
	padding: 0 10px;
	margin: 0;
	list-style: none
}

.blog-sidebar-post ul.categories li a {
	color: #808080;
	font-weight: 600;
	font-size: 14px
}

.blog-sidebar-post .about-description form {
	padding: 0 10px
}

.blog-sidebar-post .about-description form input {
	border-radius: 5px;
	height: 40px
}

.news-item {
	padding: 0 6px;
	margin-bottom: 0
}

#blogpage-section ul.team-social-list {
	text-align: center
}

#blogpage-section ul.team-social-list li a {
	color: #212226;
	border: 1px solid #212226;
	text-align: center
}

#blogpage-section ul.team-social-list li a:hover {
	color: #fff;
	border-color: transparent
}

#login-modal .modal-dialog {
	width: 350px;
	height: auto
}

#login-modal input {
	margin-top: 10px
}

#div-login-msg, #div-lost-msg, #div-register-msg {
	border: 1px solid #dadfe1;
	height: 30px;
	line-height: 28px;
	transition: all ease-in-out 500ms
}

#div-login-msg.success, #div-lost-msg.success, #div-register-msg.success
	{
	border: 1px solid #68c3a3;
	background-color: #c8f7c5
}

#div-login-msg.error, #div-lost-msg.error, #div-register-msg.error {
	border: 1px solid #eb575b;
	background-color: #ffcad1
}

#icon-login-msg, #icon-lost-msg, #icon-register-msg {
	width: 30px;
	float: left;
	line-height: 28px;
	text-align: center;
	background-color: #dadfe1;
	margin-right: 5px;
	transition: all ease-in-out 500ms
}

#icon-login-msg.success, #icon-lost-msg.success, #icon-register-msg.success
	{
	background-color: #68c3a3 !important
}

#icon-login-msg.error, #icon-lost-msg.error, #icon-register-msg.error {
	background-color: #eb575b !important
}

#img_logo {
	max-height: 100px;
	max-width: 100px;
	margin-top: 20px
}

.modal-backdrop.in {
	filter: alpha(opacity = 50);
	opacity: .8
}

.modal-content {
	background-color: #ececec;
	border: 1px solid #bdc3c7;
	border-radius: 0;
	outline: 0;
	height: auto
}

.modal-header {
	min-height: 16.43px;
	padding: 15px 15px 15px 15px;
	border-bottom: 0
}

.modal-body {
	position: relative;
	padding: 5px 12px 5px 20px;
	margin-top: -20px
}

.modal-footer {
	padding: 15px 20px 15px 15px;
	text-align: left;
	border-top: 0;
	margin-top: -20px
}

.checkbox {
	margin-bottom: 0
}

.btn {
	border-radius: 0
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn.active.focus {
	outline: none
}

.btn-lg, .btn-group-lg>.btn {
	border-radius: 0
}

.btn-link {
	padding: 5px 10px 0 0;
	color: #95a5a6
}

.btn-link:hover, .btn-link:focus {
	color: #57cbcc;
	text-decoration: none
}

.glyphicon {
	top: 0
}

.form-control {
	border-radius: 0
}

.ahref-portfolio {
	color: #57cbcc;
	font-weight: 800;
	text-decoration: none
}

.ahref-portfolio:hover {
	text-decoration: none;
	color: #57cbcc
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover,
	.pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover
	{
	background-color: #57cbcc;
	border-color: #57cbcc
}

.pagination>li>a, .pagination>li>span {
	color: #57cbcc
}

.panel-group {
	margin-bottom: 30px;
	margin-top: 10px
}

.panel-title a {
	font-size: 18px
}

.panel-body p {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	line-height: 20px;
	text-align: left;
	color: #808080
}